# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environments
.env
.venv
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Data (ignore all except small samples)
data/*.csv
data/*.txt
!data/sample.csv
# !data/tagged_description.txt   # Uncomment if you want to keep this file in repo

# Chroma database and embeddings
*.chroma/
chroma/


# Build artifacts
build/
dist/
*.egg-info/

images/*.pdf
images/*.svg
